---
const { event } = Astro.props;

const url = "https://bwzlyynicfdhqxvfotfg.supabase.co/rest/v1/begivenheder";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3emx5eW5pY2ZkaHF4dmZvdGZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgzMjk5NjUsImV4cCI6MjA2MzkwNTk2NX0.iWIvQ6JD4u7LRTB0dUL8CuJFoys5U8sWInPGsV-kdjM";
const options = {
  headers: {
    apikey: key,
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<a href={"event/" + event.id}>
  <article>
    <p>{event.index_by}</p>
    <p>{event.dato}</p>
    <p>{event.begivenhed_info}</p>
  </article>
</a>
<section>
  <div class="event-wrapper">
    <div class="image-column">
      <div class="image-placeholder"></div>
    </div>
    <div class="event-column">
      <div class="event">
        <div class="event-date">
          <div class="event-date-inner">
            <h3>{event.dato}</h3><br />
          </div>
        </div>
        <div class="event-details">
          <div class="details-text">
            <div class="event-location">{event.by}</div>
            <div class="details">{event.begivenhed_info}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
